<html>
<body>
<h1> Articles </h1>
{% block content %}
<div id='article list'>
{% for article in articles %}
<h2><a href="article/get/{{article_id}}/"> {{ article.title }}</a></h2>
<p>{{ article.body }}</p>
{% endfor %}
</div>
{% endblock %}
</body>
</html>