<html>
<head>
	<title>{{ full_name }}</title>
	<style type="text/css">
body {
      background: #2c3338;
      color: #606468;
      font: 87.5%/1.5em 'Open Sans', sans-serif;
      margin: 0;
    }
a {
      color: #eee;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    input {
      border: none;
      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 14px;
      line-height: 1.5em;
      padding: 0;
      -webkit-appearance: none;
    }

    p {
      line-height: 1.5em;
    }

    h1 {
      text-align: center;
    }
    #container {
      left: 50%;
      position: fixed;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
	</style>
</head>
<body>
{% block content%}
<div id="container">
<h2> hi <a href="#">{{full_name }}</a> Now You are Logged in</h2>
<p>Click here to <a href="/accounts/logout">LogOUT</a></p>
{% endblock%}
</div>
</body>
</html>