   {% load staticfiles %}

   <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/college/sggs/">SGGS</a></li>
          <li><a href="/college/mgm/">MGM</a></li>
          <li><a href="/university/srtmu/">SRTMU</a></li>
        </ul>
       <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a href="">{{user}}</a></li>
            <li><a href="{% url 'auth_logout' %}">LOGOUT</a></li>
            {% else %}
            {# <li><a href="{% url 'registration_login' %}">Login </a></li> #}
            <li><a href="{% url 'registration_register' %}">Register </a></li>
            {% endif %}
          </ul>
          {% if not user.is_authenticated and not "/accounts/login" in request.get_full_path %}
            <a type="button" class="btn btn-success navbar-btn navbar-right" data-toggle="modal" data-target="#myModal">LOG IN</a>
          {% endif %}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
              <div class='form-group'>
                  <input type='text' class='form-control' name='username' placeholder='Username' /> 
              </div>
              <div class='form-group'>
                  <input type='password' class='form-control' name='password' placeholder='Password' />
              </div>
              <button type='submit' class='btn btn-default'>Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="/accounts/signup">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>   
    </div>
  </div>