<html>
<body>
<h1> Search results </h1>
{# {% block content %} #}
{# <div id='Search Result list'> #}
{# {% for i in searchs %} #}
 {{ searchs.first_name }} 
{{ searchs.last_name }} <br>{{searchs.branch}}  {{searchs.year}} {{searchs.projects}}  {{searchs.about_me}}
{# {% endfor %} #}
{# </div> #}
{# {% endblock %} #}
</body>
</html