{% load staticfiles %}
<!DOCTYPE html>
<html>
<head><title>Search</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen" type="text/css" />
  <style type="text/css">
            /*
    A custom Bootstrap 3.1 template
    from http://bootply.com

    This CSS code should follow the 'bootstrap.css'
    in your HTML file.

    license: MIT
    author: bootply.com
    */
    html,body {
      height:100%;
      background:center no-repeat fixed url('{% static "img/bg3.jpg" %}');
      background-size: cover;
    }

/*    .icon-bar {
      background-color:#fff;
    }

    .navbar-trans {
      background-color:#279ddd;
      color:#fff;
    }

    .navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
      background-color:#38afef;
    }

    .navbar-trans a{
      color:#fefefe;
    }

    .navbar-trans .form-control:focus {
      border-color: #eee;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
    }*/
    section {
      padding-top:70px;  
      padding-bottom:50px; 
      min-height:calc(100% - 1px);
    }

    .v-center {
      padding-top:10%;
      font-size:70px;
    }

  /*  .well {
      border-color:transparent;
    }

    a.list-group-item.active,[class*='-info'] {
      background-color: #168ccc;
      color:#fff;
    }*/

    #section1 {
      /*background-color: #168ccc;*/
      /*background: url({% static "img/bg6.jpg" %});*/
      /*width: 100%;*/
      color:#dedeff;
    }
   /* footer {
      background-color:#494949;
      color:#ddd;
      min-height:100px;
      padding-top:20px;
      padding-bottom:40px;
    }

    footer .nav>li>a {
      padding:3px;
      color:#ccc;
    }

    footer .nav>li>a:hover {
      background-color:transparent;
      color:#fff;
    }*/
    .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
    }
    .modal-footer {
      background-color: #f9f9f9;
    }
    p{
      width:800px;
      height:60px;
      line-height:20px; /* Height / no. of lines to display */
      overflow:hidden;
    }
    /*.footer {*/
      /*position: absolute;*/
      /*background-color: #000;*/
      /*margin-top: 160px;*/
      /*width: 100%;*/
      /* Set the fixed height of the footer here */
      /*height: 30px;*/
      /*padding: 0 15px;*/
      /*background-color: #f5f5f5;}*/
/*.container1 {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}*/
/* .text-muted {
  margin-bottom: 0px;
}*/
</style>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DIVEIN</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/college/sggs/">SGGS</a></li>
            <li><a href="/college/mgm/">MGM</a></li>
            <li><a href="/university/srtmu/">SRTMU</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="/profile">{{first_name}}</a></li>
            <li><a href="{% url 'auth_logout' %}">LOGOUT</a></li>
            {% else %}
            {# <li><a href="{% url 'registration_login' %}">Login </a></li> #}
            <li><a href="{% url 'registration_register' %}">Register </a></li>
            {% endif %}
          </ul>
          {% if not user.is_authenticated and not "/accounts/login" in request.get_full_path %}
          <a type="button" class="btn btn-success navbar-btn navbar-right" data-toggle="modal" data-target="#myModal">LOG IN</a>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
          </div>
          <div class="modal-body" style="padding:40px 50px;">
            <form method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
              <div class='form-group'>
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                <input type='text' class='form-control' name='username' placeholder='Username' /> 
              </div>
              <div class='form-group'>
                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                <input type='password' class='form-control' id="psw" name='password' placeholder='Password' />
              </div>
              <button type='submit' class='btn btn-default'>Login</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            <p>Not a member? <a href="/accounts/signup">Sign Up</a></p>
            <p>Forgot <a href="#">Password?</a></p>
          </div>
        </div>
      </div>
    </div> 
    <script>
      $(document).ready(function(){
        $("#myBtn").click(function(){
          $("#myModal").modal();
        });
      });
    </script>
    <section class="container-fluid" id="section1">
      <div class="container">
        <div class="row">
          <h1 class="text-center v-center">DIVE INSIDE</h1>
          <div class="col-md-offset-3 col-md-6">
            {# <p class="q"> #}
            <form action="" method="get">
              <label for="id_q"><b>Search:</b></label>
              <div class="row">
                <div class="col-md-10">
                  <input type="text" class="form-control" placeholder="Search" id="id_q" name="q">
                </div>
                <div class="col-md-2">
                  <input class="btn btn-primary" type="submit" value="Submit">
                </div>
              </div>
            </form>
            <br>
            {% if found_entries %}
            <p>You searched for "{{ query_string }}".</p>
            <ul>
              {% for i in found_entries %}
              <h3 class="bg-succes"><a href="{{i.url}}"> {{ i.title}}</a></h3>
              <p>{{ i.text }}</p>
              {{ i.first_name }} {{ i.last_name }} Studying in {{i.branch}}  {{i.year}} at {{i.college}}<br> {{i.about_me}} {{i.projects}} {{ value|linebreaks }}
              {% endfor %}
            </ul>
            {% endif %}
            {% if query_string and not found_entries %}
            <p>No results found.</p>
            {% else %}
            <p>Type a search query into the box above, and press "Submit" to search.</p>
            {% endif %}
            <script type="text/javascript">
              AutoSuggest(document.getElementById("search_field"), document.getElementById("autosuggest"), new Array());
            </script>
            <script type="text/javascript">
              var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
              document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
              try {
                var pageTracker = _gat._getTracker("UA-1613452-2");
                pageTracker._trackPageview();
              } 
              catch(err) {}
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
          </div>
        </div>
        <div class="row"><br></div>
      </div><!--/container-->
      <footer class="footer">
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
            <p class="text-muted text-center">Designed By <a href="http://mahavarkar.in">SUJIT MAHAVARKAR</a>, <a href="https://twitter.com/im_suz">@im_suz</a>.</p>
          </div>
        </div>
      </footer>
    </section>
    <div>
      <div class="container">

      </div>
    </div>
  </div>
</body>
</html>