{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">

<head>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" type="text/css" />

  <meta charset="utf-8">

  <title>Login</title>

  {# <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700"> #}

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style type="text/css">
    [class*="fontawesome-"]:before {
      font-family: 'FontAwesome', sans-serif;
    }

    /* ---------- GENERAL ---------- */
    *{
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    *:before, *:after {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    body {
      background: #2c3338;
      color: #606468;
      font: 87.5%/1.5em 'Open Sans', sans-serif;
      margin: 0;
    }

    a {
      color: #eee;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    input {
      border: none;
      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 14px;
      line-height: 1.5em;
      padding: 0;
      -webkit-appearance: none;
    }

    p {
      line-height: 1.5em;
    }

    .clearfix {
      *zoom: 1;
    }
    .clearfix:before, .clearfix:after {
      content: ' ';
      display: table;
    }
    .clearfix:after {
      clear: both;
    }

    .container {
      left: 20%;
      position: fixed;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .container1 {
      left: 70%;
      position: fixed;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    /* ---------- LOGIN ---------- */
    #login {
      width: 280px;
    }

    #login form span {
      background-color: #363b41;
      border-radius: 3px 0px 0px 3px;
      color: #606468;
      display: block;
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 50px;
    }

    #login form input {
      height: 50px;
    }

    #login form input[type="text"], input[type="password"] {
      background-color: #3b4148;
      border-radius: 0px 3px 3px 0px;
      color: #606468;
      margin-bottom: 1em;
      padding: 0 16px;
      width: 230px;
    }

    #login form input[type="submit"] {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: #ea4c88;
      color: #eee;
      font-weight: bold;
      margin-bottom: 2em;
      text-transform: uppercase;
      width: 280px;
    }

    #login form input[type="submit"]:hover {
      background-color: #d44179;
    }

    #login > p {
      text-align: center;
    }

    #login > p span {
      padding-left: 5px;
    }
    /*signup form*/
    #signup {
      width: 280px;
    }

    #signup form span {
      background-color: #363b41;
      border-radius: 3px 0px 0px 3px;
      color: #606468;
      display: block;
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 50px;
    }

    #signup form input {
      height: 50px;
    }

    #signup form input[type="text"], input[type="password"] {
      background-color: #3b4148;
      border-radius: 0px 3px 3px 0px;
      color: #606468;
      margin-bottom: 1em;
      padding: 0 16px;
      width: 230px;
    }

    #signup form input[type="submit"] {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: #ea4c88;
      color: #eee;
      font-weight: bold;
      margin-bottom: 2em;
      text-transform: uppercase;
      width: 280px;
    }

    #signup form input[type="submit"]:hover {
      background-color: #d44179;
    }

    #signup > p {
      text-align: center;
    }

    #signup > p span {
      padding-left: 5px;
    }

  </style>

</head>

<body>

  <div class="container">

    <div id="login">

    <form action="/accounts/auth" method="get"> {% csrf_token %}
        {% block content %}
        {% if form.errors %}
        <p class="errors">Sorry thats not a valid username or password</p>
        {% endif %}
        <fieldset class="clearfix">

          <p><span class="fontawesome-user"></span><input type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
          <p><span class="fontawesome-lock"></span><input type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
          <p><input type="submit" value="Sign In"></p>

        </fieldset>
        {# {% endblock%} #}
      </form>

    </div> <!-- end login -->
    </div>
    <div class="container1">
    <div id="signup">
    	<form action="/accounts/auth/" method="POST"> {% csrf_token %}
        {# {% block content %} #}
        {% if form.errors %}
        <p class="errors">Sorry thats not a valid username or password</p>
        {% endif %}
        <fieldset class="clearfix">

          <p><span class="fontawesome-user"></span><input type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
          <p><span class="fontawesome-lock"></span><input type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
          <p><span class="fontawesome-lock"></span><input type="text"  value="First Name" onBlur="if(this.value == '') this.value = 'First Name'" onFocus="if(this.value == 'First Name') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
          <p><span class="fontawesome-lock"></span><input type="text"  value="Last Name" onBlur="if(this.value == '') this.value = 'Last Name'" onFocus="if(this.value == 'Last Name') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
          <p><span class="fontawesome-lock"></span><input type="text"  value="Mobile" onBlur="if(this.value == '') this.value = 'Mobile'" onFocus="if(this.value == 'Mobile') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
          <p><input type="submit" value="Sign In"></p>

        </fieldset>
        {% endblock%}
      </form>
    </div>

  </div>

</body>
</html>