@media (max-width: 480px) {
 
    
    html {
        font-size: 65%;
    }

    header .color-overlay {
        min-height: 480px;
    }
    nav .navbar{
      background-color: #ffffff;
    }

    header .only-logo .navbar {
        padding: 10px;
    }

    header .intro-section {
        padding-top: 2%;
    }

    header .intro-section .intro {
        margin-bottom: 16px;
    }

    header .intro-section h5 {
        color: #ffffff;
    }

    header .intro-section .buttons {
        margin-top: 15px;
    }

    .testimonials, 
    .download { 
        background-attachment: inherit !important; 
    }

    .download .subscription-form .input-box {
        width: 95%;
        height: 50px;
    }

    .standard-button,
    .standard-button2 {
        font-size: 15px;
        min-width: 100px;
        padding: 11px 20px 11px 20px;
    }

    .features .feature:hover .icon-container .icon, 
    footer .contact-button:hover {
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
}

@media (max-width: 320px) {
 
    
    html {
        font-size: 60.5%;
    }
    .partners .content{
  width:300px;
}
nav .navbar{
      background-color: #ffffff;
    }

.partners .logo {
  width:300px;
}

.partners .logo img {
  width:80px;
  padding-bottom:20px;
}
}